{% extends 'base.html.twig' %}

{% block title %}Absence index{% endblock %}

{% block body %}
    <h1>Absence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeAbsence</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Comment</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Reason</th>
                <th>Document</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>{{ absence.typeAbsence }}</td>
                <td>{{ absence.startDate ? absence.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ absence.endDate ? absence.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ absence.Comment }}</td>
                <td>{{ absence.status }}</td>
                <td>{{ absence.createdAt ? absence.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absence.updatedAt ? absence.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absence.reason }}</td>
                <td>{{ absence.document }}</td>
                <td>
                    <a href="{{ path('app_absence_show', {'id': absence.id}) }}">show</a>
                    <a href="{{ path('app_absence_edit', {'id': absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_absence_new') }}">Create new</a>
{% endblock %}
