{% extends 'base.html.twig' %}

{% block title %}Absence{% endblock %}

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>TypeAbsence</th>
                <td>{{ absence.typeAbsence }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ absence.startDate ? absence.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ absence.endDate ? absence.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ absence.Comment }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ absence.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ absence.createdAt ? absence.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ absence.updatedAt ? absence.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ absence.reason }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ absence.document }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_absence_index') }}">back to list</a>

    <a href="{{ path('app_absence_edit', {'id': absence.id}) }}">edit</a>

    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}
