{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}

<div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>GESTION ÉQUIPES</span> </h1>
        <nav>
        <a href="#" class="menu-item"><span> Nombres d'équipes : {{ equipeCount }}</span></a>
          <a href="{{ path('app_equipe_new') }}" class="menu-item"><span class="iconoir-plus-circle-solid mr-2"></span>Ajouter équipe</a>
        </nav>
      </div>
      <div class="wrapper">
      
    <table class="table table-admin">

        <thead>
            <tr>
                <th>Équipe parente</th>
                <th>Nom</th>
                <th>Responsable Hiérarchique</th>
                <th>Membres</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{% if (equipe.parent != null) %}
                        {{ equipe.parent.nom }}
                    {% else %}
                        Racine de la structure
                    {% endif %}
                </td>
                <td>{{ equipe.nom }}</td>
                <td>
                    {% for user in equipe.users %}
                        {% if "ROLE_RESPONSABLE_HIERA" in user.roles  %}
                            - {{ user.nom }} <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for user in equipe.users %}
                        - {{ user.nom }} <br>
                    {% endfor %}
                </td>
                <td class="d-flex justify-content-center align-items-center">
                   <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn btn-primary btn-sm "><span class="iconoir-design-pencil mr-2"></span> Edit</a>
                    <form method="post" action="{{ path('app_equipe_delete', {'id': equipe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
                        <button class="btn btn-danger btn-sm d-flex"><span class="iconoir-trash-solid mr-2"></span> Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
