{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

{% set roleLabels = {
    'ROLE_ADMIN': 'Administrateur',
    'ROLE_DIRECTEURRH': 'Directeur RH',
    'ROLE_RESPONSABLE_HIERA': 'Responsable Hiérarchique',
    'ROLE_REFERENT_FRAIS': 'Référent Frais de Déplacement',
    'ROLE_RTT': 'Responsable RTT',
    'ROLE_USER': 'Utilisateur'
} %}

<div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>GESTION UTILISATEURS</span> </h1>
        <nav>
        <a href="#" class="menu-item"><span> Nombres d'utilisateurs : {{ userCount }}</span></a>
          <a href="{{ path('app_user_new') }}" class="menu-item"><span class="iconoir-plus-circle-solid mr-2"></span>Ajouter utilisateurs</a>
        </nav>
      </div>
      <div class="wrapper">
      
    <table class="table table-admin">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Roles</th>
                <th>Equipe</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="">
                    {% if user.image %}
                        <img class="img-tab" src="{{ asset('uploads/user/' ~ user.image) }}" alt="User Image">
                    {% else %}
                        <span>No image available</span>
                    {% endif %}
                </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    {% if user.roles is defined and user.roles is not empty %}
                        {% set userRoles = user.roles | filter(role => role != 'ROLE_USER') %}
                        {% if userRoles is empty %}
                            {{ roleLabels['ROLE_USER'] }}
                        {% else %}
                            {{ userRoles | map(role => roleLabels[role] ?? role) | join(', ') }}
                        {% endif %}
                    {% else %}
                        Aucun rôle
                    {% endif %}
                </td>
                <td>
                    {% if user.equipe is defined and user.equipe is not empty %}
                        {% if user.equipe is empty %}
                            Non affecté
                        {% else %}
                            {{ user.equipe.nom }}
                        {% endif %}
                    {% else %}
                        Aucune équipe
                    {% endif %}
                </td>
                 <td class="d-flex justify-content-center align-items-center" >
                   <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn-edit btn btn-sm btn-danger mr-2"{% if user.id == 1 %}style="visibility:hidden;"{% endif %}><span class="iconoir-design-pencil iconoir-btn-ed mr-1"></span> Edit</a>
                    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l'utilisateur ?');" class="m-0">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button {% if user.id == 1 %}style="visibility:hidden;"{% endif %} class="btn-delete btn btn-sm btn-danger d-flex"><span class="iconoir-trash-solid iconoir-btn-ed mr-1"></span> Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
